{% extends 'base.html.twig' %}

{% block title %}
{% if app.user is not defined %}
Snowtricks - Password perdu
{% else %}
Snowtricks - Modifier password</h1>
{% endif %}
{% endblock %}

{% block body %}

<div class="container">
    {% if app.user is not defined %}
    <h1>Mot de passe perdu ?</h1>
    {% else %}
    <h1>Modifier son mot de passe :</h1>
    {% endif %}
    <hr>
    {{ form_start(forgotPasswordForm) }}
        {{ form_row(forgotPasswordForm, {'label': 'Entrez votre pseudo :'}) }}
        <p class="text-secondary">Un email va être envoyé à l'adresse spécifiée lors de la création du compte.</p>
        <p class="text-secondary">Cliquez sur le lien pour réinitialiser votre mot de passe.</p>
        <hr>
        <button type="submit" class="btn btn-outline-primary">Envoyer</button>
    {{ form_end(forgotPasswordForm) }}
    {% if message is defined %}
        <p class="text-danger mt-5">{{ message }}</p>
    {% endif %}
</div>

{% endblock %}