<div class="modal fade" id="modal-window" tabindex="2" aria-labelledby="ModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          
          {% if (action == 'modifyPhoto') or (action == 'modifyVideo') %}
          <h5 class="modal-title">Modification </h5>
          {% endif %}
          
          {% if (action == 'deletePhoto') or (action == 'deleteVideo') %}
          <h5 class="modal-title">Suppression </h5>
          {% endif %}
          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

        {% if photoId is defined %}
          
          {% if action == 'deletePhoto' %}
            <p>Voulez vous vraiment supprimer cette photo ?</p>
          </div>
          <div class="modal-footer">
              <a href="{{ path('member_delete_photo', {tricksId: tricks.id, photoId: photoId}) }}">Supprimer</a>
              <button type="button" class="btn btn-outline-primary btn-sm" id="close-modal" data-dismiss="modal">X</button>
          </div>
          {% endif %}

          {% if action == 'modifyPhoto' %}
            <form action="{{ path('member_change_photo', {tricksId: tricks.id, photoId: photoId}) }}" method="post" class="form-group"  enctype='multipart/form-data'>
              <div class="form-control">
                <input type="file" name="change-photo" id="change-photo"/>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-outline-primary btn-sm">Modifier</button>
                <button type="button" class="btn btn-outline-primary btn-sm" id="close-modal" data-dismiss="modal">X</button>
              </div>
            </form>
          {% endif %}

        {% elseif videoId is defined %}

          {% if action == 'deleteVideo' %}
            <p>Voulez vous vraiment supprimer cette video ?</p>
          </div>
          <div class="modal-footer">
              <a href="{{ path('member_delete_video', {tricksId: tricks.id, videoId: videoId}) }}">Supprimer</a>
              <button type="button" class="btn btn-outline-primary btn-sm" id="close-modal" data-dismiss="modal">X</button>
          </div>
          {% endif %}

          {% if action == 'modifyVideo' %}
            <form action="" method="post" class="form-group">
              <input type="text" name="change-video" id="change-video" class="form-control"/>
              <div class="modal-footer">
                <button type="submit" class="btn btn-outline-primary btn-sm">Modifier</button>
                <button type="button" class="btn btn-outline-primary btn-sm" id="close-modal" data-dismiss="modal">X</button>
              </div>
            </form>
          {% endif %}

        {% endif %} 

            
      </div>
    </div>
</div>   